<!DOCTYPE html>
<html>
<head>
  <title> BlogApp </title>
  <link rel = "stylesheet" href = "/app.css">
  <link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  </head>
<body>
  <div class="ui inverted segment">
    <div class="ui inverted secondary menu container">
      <div class="header item">
        <i class="blogger b icon"> </i>
        <a href="/"> Blog Site </a>
      </div>
      <a href="/" class="item"> Home </a>
      <a href="/blogs/new" class="item"> New Post </a>
    </div>
  </div>

